<div class="w-full p-6 flex flex-col gap-y-4">
    <div class="flex flex-row items-center gap-x-2">
        <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="openNewPetModal()"
        >
            {{ "buttons.new_pet" | transloco }}
        </button>
        <mat-progress-spinner
            *ngIf="isLoading"
            [diameter]="24"
            [mode]="'indeterminate'"
        ></mat-progress-spinner>
    </div>
    <div
        *ngIf="pets.length <= 0"
        class="bg-gray-200 rounded-md shadow-md p-6 text-md flex justify-center"
    >
        <span>No existen registros.</span>
    </div>
    <div
        *ngIf="pets.length > 0"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-2 w-full"
    >
        <mat-card *ngFor="let pet of pets" class="w-full">
            <mat-card-header>
                <mat-card-title class="font-bold text-2xl">{{
                    pet.name
                }}</mat-card-title>
                <mat-card-subtitle>{{
                    ("labels.born_ago" | transloco) +
                        " " +
                        getAge(pet.birthDate)
                }}</mat-card-subtitle>
            </mat-card-header>
            <img
                mat-card-image
                *ngIf="pet.photoUrl"
                class="h-50 m-0 mb-4 object-cover rounded-md"
                [src]="pet.photoUrl"
                [alt]="'Photo of ' + pet.name"
            />
            <img
                mat-card-image
                *ngIf="!pet.photoUrl"
                class="h-50 m-0 mb-4 object-cover rounded-md"
                [src]="'assets/images/without_image.jpg'"
                [alt]="'Photo of ' + pet.name"
            />
            <mat-card-content
                class="text-3xl flex flex-col items-center justify-center gap-2"
            >
                <div class="flex flex-row gap-x-2 items-center">
                    <mat-icon>scale</mat-icon>
                    <span class="font-bold">{{ pet.lastWeight }} kg</span>
                </div>
                <div class="flex flex-row gap-x-2 items-center">
                    <span class="font-bold text-lg">{{
                        pet.petRace.name
                    }}</span>
                </div>
                <div class="flex flex-row gap-x-2 items-center">
                    <span class="text-lg">{{ pet.petSpecie.name }}</span>
                </div>
            </mat-card-content>
            <mat-card-actions class="flex flex-row items-center">
                <button mat-button (click)="openUpdatePetModal(pet)">
                    {{ "buttons.update" | transloco }}
                </button>
                <button mat-button color="warn" (click)="deletePetById(pet.id)">
                    {{ "buttons.delete" | transloco }}
                </button>
                <button
                    mat-icon-button
                    (click)="goToInfo(pet.id)"
                    matTooltip="Visualizar Carnet de la mascota"
                >
                    <mat-icon>summarize</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
