<div class="w-full p-6 flex flex-col gap-y-4">
    <div class="flex flex-row items-center gap-x-2">
        <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="openNewMedicoModal()"
        >
            {{ "buttons.new_doctor" | transloco }}
        </button>
        <mat-progress-spinner
            *ngIf="isLoading"
            [diameter]="24"
            [mode]="'indeterminate'"
        ></mat-progress-spinner>
    </div>
    <div
        *ngIf="medicos.length <= 0"
        class="bg-gray-200 rounded-md shadow-md p-6 text-md flex justify-center"
    >
        <span>No existen registros.</span>
    </div>
    <div *ngIf="medicos.length > 0" class="w-full flex flex-col gap-y-1">
        <div *ngFor="let medico of medicos" class="w-full">
            <div
                class="bg-gray-200 rounded-md shadow-md p-2 text-md flex flex-col gap-y-2 md:flex-row justify-between items-center"
            >
                <div class="flex items-center gap-x-2 justify-center w-1/5">
                    <mat-icon matTooltip="Nombre">text_format</mat-icon
                    >{{ medico.person.fullName }}
                </div>
                <div class="flex items-center gap-x-2 justify-center w-1/5">
                    <mat-icon matTooltip="Numero telefonico">call</mat-icon>
                    {{ medico.person.cellphone }}
                </div>
                <div class="flex items-center gap-x-2 justify-center w-1/5">
                    <mat-icon matTooltip="Fecha de nacimiento (dd-mm-aaaa)"
                        >event</mat-icon
                    >
                    {{
                        medico.person.birthDate
                            ? parseDate(medico.person.birthDate)
                            : "No definida"
                    }}
                </div>
                <div class="flex items-center gap-x-2 justify-center w-1/5">
                    <mat-icon matTooltip="Correo electronico">mail</mat-icon>
                    {{ medico.email }}
                </div>
                <div class="flex flex-row gap-1 justify-center w-1/5">
                    <button
                        mat-raised-button
                        (click)="openUpdateMedicoModal(medico)"
                    >
                        {{ "buttons.update" | transloco }}
                    </button>
                    <button
                        mat-raised-button
                        color="warn"
                        (click)="deleteDoctorById(medico.id)"
                    >
                        {{ "buttons.delete" | transloco }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
