<div class="w-full p-6 flex flex-col gap-y-4">
    <div class="flex flex-row items-center gap-x-2">
        <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="openNewMedicoModal()"
        >
            {{ 'buttons.new_doctor' | transloco }}
        </button>
        <mat-progress-spinner
            *ngIf="isLoading"
            [diameter]="24"
            [mode]="'indeterminate'"
        ></mat-progress-spinner>
    </div>
    <div
        *ngIf="medicos.length <= 0"
        class="bg-gray-200 rounded-md shadow-md p-6 text-md flex justify-center"
    >
        <span>No existen registros.</span>
    </div>
    <div *ngIf="medicos.length > 0" class="w-full">
        <div *ngFor="let medico of medicos" class="w-full">
            <div
                class="bg-gray-200 rounded-md shadow-md p-2 text-md flex flex-col md:flex-row justify-around items-center"
            >
                <div class="flex items-center gap-x-2">
                    <mat-icon>text_format</mat-icon>{{ medico.person.fullName }}
                </div>
                <div class="flex items-center gap-x-2">
                    <mat-icon>call</mat-icon>
                    {{ medico.person.cellphone }}
                </div>
                <div class="flex items-center gap-x-2">
                    <mat-icon>event</mat-icon>
                    {{ medico.person.birthDate ?? 'No definida' }}
                </div>
                <div class="flex items-center gap-x-2">
                    <mat-icon>mail</mat-icon>
                    {{ medico.email }}
                </div>
                <div class="flex flex-row gap-1">
                    <button mat-raised-button>
                        {{ 'buttons.update' | transloco }}
                    </button>
                    <button mat-raised-button color="warn">
                        {{ 'buttons.delete' | transloco }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
