<div mat-dialog-title>Nueva Mascota</div>
<form [formGroup]="mascotaForm" mat-dialog-content>
    <!-- Document type field-->
    <mat-form-field class="w-full">
        <mat-label>{{ "labels.specie" | transloco }}</mat-label>
        <mat-select
            formControlName="specieId"
            placeholder="Seleccione la especie animal a la que pertenece la mascota"
        >
            <mat-option
                *ngFor="let petSpecie of petSpecies"
                [value]="petSpecie.id"
                >{{ petSpecie.name }}</mat-option
            >
        </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>{{ "labels.race" | transloco }}</mat-label>
        <mat-select
            formControlName="raceId"
            placeholder="Seleccione la raza de la mascota"
        >
            <mat-option *ngFor="let petRace of petRaces" [value]="petRace.id">{{
                petRace.name
            }}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Document Number field -->
    <mat-form-field class="w-full">
        <mat-label>{{ "labels.name" | transloco }}</mat-label>
        <input
            id="pet_name"
            matInput
            [formControlName]="'name'"
            placeholder="Ejemplo: Firulais"
        />
        <mat-error *ngIf="mascotaForm.get('name').hasError('required')">
            El nombre de la mascota es requerido
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>{{ "labels.birth_date" | transloco }}</mat-label>
        <input
            matInput
            [matDatepicker]="picker"
            id="date"
            placeholder="Fecha de nacimiento de la mascota (dd/mm/aaaa)"
            [formControlName]="'birthDate'"
        />
        <mat-hint>dd/mm/aaaa</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="mascotaForm.get('birthDate').hasError('required')">
            La fecha de nacimiento de la mascota es requerida
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>{{ "labels.fur_color" | transloco }}</mat-label>
        <input
            id="fur_color"
            matInput
            [formControlName]="'furColor'"
            placeholder="Ejemplo: Cafe claro con franjas blancas"
        />
        <mat-error *ngIf="mascotaForm.get('furColor').hasError('required')">
            El color del pelaje de la mascota es requerido
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>{{ "labels.last_weight" | transloco }}</mat-label>
        <input
            id="weight"
            matInput
            [formControlName]="'lastWeight'"
            placeholder="Ultimo peso conocido de la mascota en kilogramos"
            type="number"
        />
        <mat-icon matSuffix>scale</mat-icon>
        <mat-error *ngIf="mascotaForm.get('lastWeight').hasError('required')">
            El ultimo peso conocido es requerido
        </mat-error>
    </mat-form-field>

    <div class="w-full flex flex-col gap-y-1">
        <mat-label class="font-medium">{{
            "labels.pet_image" | transloco
        }}</mat-label>
        <input id="pet_image" type="file" (change)="setPetImage($event)" />
        <mat-error *ngIf="mascotaForm.get('photoUrl').hasError('pattern')">
            La url de la imagen no es valida
        </mat-error>
    </div>

    <!-- Submit button -->
    <div class="flex flex-col sm:flex-row justify-end gap-1">
        <button
            mat-flat-button
            type="submit"
            [color]="'primary'"
            [disabled]="mascotaForm.disabled"
            (click)="save()"
        >
            <span *ngIf="!mascotaForm.disabled">
                {{
                    petSaved
                        ? ("buttons.update" | transloco)
                        : ("buttons.save" | transloco)
                }}
            </span>
            <mat-progress-spinner
                *ngIf="mascotaForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"
            ></mat-progress-spinner>
        </button>
        <button
            mat-flat-button
            color="warn"
            type="button"
            (click)="dialogRef.close(petSaved)"
        >
            {{ "buttons.close" | transloco }}
        </button>
    </div>
</form>
