<div mat-dialog-title>Nueva Medico</div>
<form [formGroup]="medicoForm" mat-dialog-content>
    <!-- Document type field-->
    <mat-form-field class="w-full">
        <mat-label>{{ "labels.document_type" | transloco }}</mat-label>
        <mat-select
            formControlName="documentType"
            placeholder="Seleccione el tipo de identificacion del medico"
        >
            <mat-option
                *ngFor="let documentType of documentTypes"
                [value]="documentType.id"
                >{{ documentType.documentName }}</mat-option
            >
        </mat-select>
        <mat-error *ngIf="medicoForm.get('documentType').hasError('required')">
            El tipo de documento es requerido
        </mat-error>
    </mat-form-field>

    <!-- Document Number field -->
    <mat-form-field class="w-full">
        <mat-label>{{ "labels.document_number" | transloco }}</mat-label>
        <input
            id="document_number"
            matInput
            [formControlName]="'documentNumber'"
            placeholder="Ingrese el numero de documento de identificacion (Ejemplo: 1202348349)"
        />
        <mat-error
            *ngIf="medicoForm.get('documentNumber').hasError('required')"
        >
            El numero de documento es requerido
        </mat-error>
    </mat-form-field>

    <!-- Name field -->
    <mat-form-field class="w-full">
        <mat-label>{{ "labels.full_name" | transloco }}</mat-label>
        <input
            id="full_name"
            matInput
            [formControlName]="'fullName'"
            placeholder="Ejemplo: Juan Andres Piguave Mendoza"
        />
        <mat-error *ngIf="medicoForm.get('fullName').hasError('required')">
            El nombre completo es requerido
        </mat-error>
    </mat-form-field>

    <!-- Email field -->
    <mat-form-field class="w-full">
        <mat-label>{{ "labels.email" | transloco }}</mat-label>
        <input
            id="email"
            matInput
            [formControlName]="'email'"
            placeholder="Ejemplo: juan.piguave@gmail.com"
            autocomplete="off"
        />
        <mat-error *ngIf="medicoForm.get('email').hasError('required')">
            El correo electronico es requerido
        </mat-error>
        <mat-error *ngIf="medicoForm.get('email').hasError('email')">
            Por favor ingrese un correo electronico valido
        </mat-error>
    </mat-form-field>

    <div class="flex flex-row gap-1 items-center justify-center">
        <!-- Password field -->
        <mat-form-field class="w-full">
            <mat-label>{{ "labels.password" | transloco }}</mat-label>
            <input
                id="password"
                matInput
                autocomplete="off"
                type="password"
                [formControlName]="'password'"
                #passwordField
            />
            <button
                mat-icon-button
                type="button"
                (click)="
                    passwordField.type === 'password'
                        ? (passwordField.type = 'text')
                        : (passwordField.type = 'password')
                "
                matSuffix
            >
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"
                ></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"
                ></mat-icon>
            </button>
            <mat-error> Password is required </mat-error>
        </mat-form-field>

        <button
            *ngIf="medicoSaved"
            (click)="managePasswordUpdate()"
            class="relative"
            type="button"
            mat-fab
            color="primary"
            aria-label="Button to update doctor password"
        >
            <mat-icon>{{ passwordUpdateMode ? "cancel" : "edit" }}</mat-icon>
        </button>
    </div>

    <!-- Company field -->
    <mat-form-field class="w-full">
        <mat-label>{{ "labels.phone_number" | transloco }}</mat-label>
        <input
            id="phone_number"
            matInput
            [formControlName]="'phoneNumber'"
            placeholder="Ejemplo: 0993452323"
        />
    </mat-form-field>

    <!-- Submit button -->
    <div class="flex flex-col sm:flex-row justify-end gap-1">
        <button
            mat-flat-button
            type="submit"
            [color]="'primary'"
            [disabled]="medicoForm.disabled"
            (click)="save()"
        >
            <span *ngIf="!medicoForm.disabled">
                {{
                    medicoSaved
                        ? ("buttons.update" | transloco)
                        : ("buttons.save" | transloco)
                }}
            </span>
            <mat-progress-spinner
                *ngIf="medicoForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"
            ></mat-progress-spinner>
        </button>
        <button
            mat-flat-button
            color="warn"
            type="button"
            (click)="dialogRef.close(medicoSaved)"
        >
            {{ "buttons.close" | transloco }}
        </button>
    </div>
</form>
